/* Please â¤ this if you like it! */


/* ======================================== * 
		        BEST VIEWED FULLSCREEN
   https://codepen.io/ig_design/full/JxbVRq
 * ======================================== */
 html,
 body{
  cursor: wait;
 }
.undefined{
  padding-top: 40vh;
  padding-bottom: 40vh;
}
body .mountains {
    width: 100vw;
    height: 100vh;
    background-color: #303f9f;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
}

body .mountains::before {
    width: 100%;
    height: 20em;
    background-color: rgba(255, 255, 255, 0.06);
    display: block;
    position: absolute;
    content: "";
    -webkit-clip-path: polygon(26% 49%, 50% 76%, 63% 43%, 100% 57%, 100% 100%, 0 100%, 0 67%, 4% 60%, 13% 76%);
    clip-path: polygon(26% 49%, 50% 76%, 63% 43%, 100% 57%, 100% 100%, 0 100%, 0 67%, 4% 60%, 13% 76%);
}

body .mountains::after {
    width: 100%;
    height: 20em;
    background-color: rgba(255, 255, 255, 0.06);
    display: block;
    position: absolute;
    content: "";
    -webkit-clip-path: polygon(32% 73%, 50% 57%, 68% 72%, 100% 45%, 100% 100%, 0 100%, 0 81%, 13% 68%);
    clip-path: polygon(32% 73%, 50% 57%, 68% 72%, 100% 45%, 100% 100%, 0 100%, 0 81%, 13% 68%);
}

/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.cursor{
	background-color: #303f9f;
	height: 0;
	width: 0;
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #303f9f;
}
.cursor2.hover{
	background: rgba(255,255,255,1);
	border-color: transparent;
}

@media screen and (max-width: 1200px){
	.cursor,.cursor2,.cursor3{
		display: none
	}
}

.link-to-portfolio {
  right: 50px;
}
.link-to-menu {
  left: 50px;
}
.link-to-menu,
.link-to-portfolio{
	position: fixed;
  color: #ffffff;
  line-height: 1.8;
  font-size: 25px;
  background-color: #303f9f;
	bottom: 50px;
	width: 50px;
    height: 50px;
	z-index: 200000;
    cursor: pointer;
    text-align: center;
	border-radius: 50%;
	border: 1px solid #303f9f;
	background-position: center center;
	background-size: 60%;
	background-repeat: no-repeat;
	     -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: opacity .2s, border-radius .2s, box-shadow .2s;
    transition-timing-function: ease-out;
}
.link-to-menu:hover,
.link-to-portfolio:hover {
	text-decoration: none;
    opacity: 0.8;
    color: #ffffff;
    border-radius: 10px;
     -webkit-box-shadow: none;
	box-shadow: none;
}

.img-avatar{
	margin: auto;
	width: 150px;
	border-radius: 50%;
  border: 1px solid #7d3ea4;
         -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.img-avatar:hover{
    -webkit-box-shadow: none;
  box-shadow: none;
}
/* main menu */



body.on {
  overflow: hidden;
}
#menu:after{
	content: "Menu";
}
#me0nu {
  z-index: 100;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 50px;
  left: 50px;
  background: none;
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: rotate(90deg);
}

#content {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  padding: 10vh 0;
  background: #ffffff;
  background-image: url(../img/hero-left.png), url(../img/hero-right.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 50%, 50%;
  background-position: center left, center right;
  color: var(--minion-dark-700);
  transition: all 0.3s ease-in-out;
}

#content.on {
  box-shadow: 0 5px 20px #333333;
  border-radius: 6px;
  cursor: zoom-out;
  transition: all 0.3s ease-in-out;
  transform-origin: 50% 0;
  transform: scale(0.8) translateY(100vh);
}

#navbar {
  z-index: 90;
  position: fixed;
  width: 90vw;
  height: 70vh;
  top: 0;
  left: 50%;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform-origin: 50% 0;
  transform: translateX(-50%) scale(0);
}


/*===========Name line animation==========*/
#svgNameContainer {
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}


#navbar.on {
  top: 5vh;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%) scale(1);
}

.whoami{
	font-size: 8rem;
	color: #ffffff;
	text-shadow: 0 0 2px #303f9f, 0 5px 12px rgba(0,0,0,0.2);
}
.social {
	display: block;
	margin: auto;
}

.social a{
	display: inline-block;
	width: 55px;
	height: 55px;
	text-align: center;
	font-size: 2.3rem;
	line-height: 1.8;
	margin-right: 10px;
	background-color: #303f9f;
	border-radius: 50%;
	color: #ffffff;
	border: 1px solid none;
	background-position: center center;
	background-size: 60%;
	background-repeat: no-repeat;
	     -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: opacity .2s, border-radius .2s, box-shadow .2s;
    transition-timing-function: ease-out;
}
.social a:hover{
	border: 1px solid #303f9f;
	border-radius: 18px;
		box-shadow: none;
		-webkit-box-shadow: none;
}

.invinity {
  position: fixed;
  top: 30px;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navigation {
  outline: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(48, 63,159,1);
  min-width: 260px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}
.navigation:focus .dropdown, 
.navigation:active .dropdown {
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  opacity: 1;
  visibility: visible;
}
.navigation .fa {
	background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: ripple 0.6s linear infinite;
          animation: ripple 0.6s linear infinite;
}
.navigation .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #FFFFFF;
  min-width: 160px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.navigation .dropdown:before {
  content: '';
  position: absolute;
  top: -6px;
  right: 20px;
  width: 0;
  height: 0;
  box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
  border-top: 6px solid #FFFFFF;
  border-right: 6px solid #FFFFFF;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  mix-blend-mode: multiple;
}
.navigation .dropdown li {
	list-style:none;
  z-index: 1;
  position: relative;
  background: #FFFFFF;
  padding: 0 20px;
  color: #666;
}
.navigation .dropdown li.active,
.navigation .dropdown li:hover {
  color: #5380F7;
}
.navigation .dropdown li:first-child {
  border-radius: 4px 4px 0 0;
}
.navigation .dropdown li:last-child {
  border-radius: 0 0 4px 4px;
}
.navigation .dropdown li:last-child a {
  border-bottom: 0;
}
.navigation .dropdown a {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 16px 0;
  color: inherit;
  font-size: 10px;
  text-decoration: none;
}

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

main{
  color: var(--minion-dark-700);
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
main p{
    color: var(--minion-dark-700);
}
main .tags{
	margin-right: 10px;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
}
main .tags:hover{
	color: #dedede;
}
main .item{
	margin-bottom: 20px;
}
main .item:before{
	content: "";
  width: 90%;
  margin: auto;
	display: block;
	height: 1px;
	border-bottom: 1px dotted rgba(48, 63, 159, .5);
}
main .dateandtime{
	color: var(--minion-dark-700);
}
main h2{
  text-transform: uppercase;
  padding: 20px 0;
}
.paginator > .row > .col:nth-of-type(1) > .button{
  width: 60%;
  float: left;
}
.paginator > .row > .col:nth-of-type(2) > .button{
  width: 60%;
  float: right;
}
.footnotes{
  padding-left: 20px;
  font-style: italic;
  color: var(--minion-dark-400);
}
.footnotes a{
  color: var(--minion-dark-400);
  text-decoration: none;
  border-bottom: 1px dashed;
}