/* component core
   ========================================================================== */
html,
body{
  height: 100%;
  font-size: 14px;
  letter-spacing: .1px;
}

html{
  font-family: sans-serif;
  line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: var(--min-width-desktop);
  font-family: var(--font-family-primary);
  line-height: 1.4285em;
  color: rgb(39, 55, 70);
  text-align: left;
  background-color: var(--default-theme-background-color);
  font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.clearfix:before,
.clearfix:after,
.grid:before,
.grid:after{
  content: " ";
  display: table;
}
.clearfix:after,
.grid:after{
  clear: both;
}
small,
.small {
  font-size: 92%;
}
mark,
.mark {
  background-color: var(--light-theme-background-color);
  padding: .2em;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted var(--minion-dark-700);
}
