/* Standard 8 column
1. 12.5
2. 25
3. 37.5
4. 50
5. 62.5
6. 75
7. 87.5
8. 100

column 1 = 12.5 + 87.5 = 100
column 2 = 25 + 75 = 100
column 3 = 37.5 + 62.5 = 100
column 4 = 50 + 50 = 100
column 5 = 62.5 + 37.5 = 100
column 6 = 75 + 25 = 100
column 7 = 87.5 + 12.5 = 100
column 8 = 100 + 0 = 100
*/

/* grid and column
   ========================================================================== */
.grid{
  position: relative;
  width: 100%;
}
.grid::after{
  content: "";
  display: table;
  clear: both;
}

.grid [class^="column"]{
  float: left;
  min-height: 0.125rem;
}

[class*="column one"],
[class^="column one"],
[class*="column two"],
[class^="column two"],
[class*="column three"],
[class^="column three"],
[class*="column four"],
[class^="column four"],
[class*="column five"],
[class^="column five"],
[class*="column six"],
[class^="column six"],
[class*="column seven"],
[class^="column seven"],
[class*="column eight"],
[class^="column eight"]{
  width: 100%;
  padding: 15px;
}

@media only screen and (min-width: 768px){ /* 720px */
  [class*="column one"],
  [class^="column one"]{
    max-width: 12.5%;
  }
  [class*="column two"],
  [class^="column two"]{
    max-width: 25%;
  }
  [class*="column three"],
  [class^="column three"]{
    max-width: 37.5%;
  }
  [class*="column four"],
  [class^="column four"]{
    max-width: 50%;
  }
  [class*="column five"],
  [class^="column five"]{
    max-width: 62.5%;
  }
  [class*="column six"],
  [class^="column six"]{
    max-width: 75%;
  }
  [class*="column seven"],
  [class^="column seven"]{
    max-width: 87.5%;
  }
  [class*="column eight"],
  [class^="column eight"]{
    max-width: 100%;
  }
}
