
/* Reset
   ========================================================================== */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html{
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"]{
  -webkit-appearance: none;
  -moz-appearance: none;
}

img,
embed,
object,
audio,
video{
  max-width: 100%;
}

iframe{
  border: 0;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th{
  padding: 0;
  text-align: left;
}

img{
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

textarea{
  height: auto;
  min-height: 50px;
}

select{
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
}

@-ms-viewport{
  width: device-width;
}
hr{
	height: 0.1px;
	background-color: #dedede;
	border: 0.1px solid transparent;
	margin-bottom: 10px;
	margin-top: 10px;
}
.clearfix:before,
.clearfix:after{
	display: table;
	content: " ";
}
.clearfix:after{
	clear: both;
}