/* root
   ========================================================================== */
:root{
 --minion-red-900: #b71c1c;
 --minion-red-800: #c62828;
 --minion-red-700: #d50000;
 --minion-red-600: #e53935;
 --minion-red-500: #f44336;
 --minion-red-400: #ef5350;
 --minion-red-300: #e57373;
 --minion-red-200: #ef9a9a;
 --minion-red-100: #ffcdd2;

 --minion-pink-900: #880e4f;
 --minion-pink-800: #ad1457;
 --minion-pink-700: #c2185b;
 --minion-pink-600: #d81b60;
 --minion-pink-500: #e91e63;
 --minion-pink-400: #ec407a;
 --minion-pink-300: #f06292;
 --minion-pink-200: #f48fb1;
 --minion-pink-100: #f8bbd0;

 --minion-purple-900: #4a148c;
 --minion-purple-800: #6a1b9a;
 --minion-purple-700: #7b1fa2;
 --minion-purple-600: #8e24aa;
 --minion-purple-500: #9c27b0;
 --minion-purple-400: #ab47bc;
 --minion-purple-300: #ba68c8;
 --minion-purple-200: #ce93d8;
 --minion-purple-100: #e1bee7;

 --minion-indigo-900: #1a237e;
 --minion-indigo-800: #283593;
 --minion-indigo-700: #303f9f;
 --minion-indigo-600: #3949ab;
 --minion-indigo-500: #3f51b5;
 --minion-indigo-400: #5c6bc0;
 --minion-indigo-300: #7986cb;
 --minion-indigo-200: #9fa8da;
 --minion-indigo-100: #c5cae9;

 --minion-blue-900: #0d47a1;
 --minion-blue-800: #1565c0;
 --minion-blue-700: #1976d2;
 --minion-blue-600: #1e88e5;
 --minion-blue-500: #2196f3;
 --minion-blue-400: #42a5f5;
 --minion-blue-300: #64b5f6;
 --minion-blue-200: #90caf9;
 --minion-blue-100: #bbdefb;

 --minion-cyan-900: #006064;
 --minion-cyan-800: #00838f;
 --minion-cyan-700: #0097a7;
 --minion-cyan-600: #00acc1;
 --minion-cyan-500: #00bcd4;
 --minion-cyan-400: #26c6da;
 --minion-cyan-300: #4dd0e1;
 --minion-cyan-200: #80deea;
 --minion-cyan-100: #b2ebf2;

 --minion-teal-900: #004d40;
 --minion-teal-800: #00695c;
 --minion-teal-700: #00796b;
 --minion-teal-600: #00897b;
 --minion-teal-500: #009688;
 --minion-teal-400: #26a69a;
 --minion-teal-300: #4db6ac;
 --minion-teal-200: #80cbc4;
 --minion-teal-100: #b2dfdb;

 --minion-green-900: #1b5e20;
 --minion-green-800: #2e7d32;
 --minion-green-700: #388e3c;
 --minion-green-600: #43a047;
 --minion-green-500: #4caf50;
 --minion-green-400: #66bb6a;
 --minion-green-300: #81c784;
 --minion-green-200: #a5d6a7;
 --minion-green-100: #c8e6c9;

 --minion-yellow-900: #f57f17;
 --minion-yellow-800: #f9a825;
 --minion-yellow-700: #fbc02d;
 --minion-yellow-600: #fdd835;
 --minion-yellow-500: #ffeb3b;
 --minion-yellow-400: #ffee58;
 --minion-yellow-300: #fff176;
 --minion-yellow-200: #fff59d;
 --minion-yellow-100: #fff9c4;

 --minion-orange-900: #bf360c;
 --minion-orange-800: #d84315;
 --minion-orange-700: #e64a19;
 --minion-orange-600: #f4511e;
 --minion-orange-500: #ff5722;
 --minion-orange-400: #ff7043;
 --minion-orange-300: #ff8a65;
 --minion-orange-200: #ffab91;
 --minion-orange-100: #ffccbc;

 --minion-brown-900: #3e2723;
 --minion-brown-800: #4e342e;
 --minion-brown-700: #5d4037;
 --minion-brown-600: #6d4c41;
 --minion-brown-500: #795548;
 --minion-brown-400: #8d6e63;
 --minion-brown-300: #a1887f;
 --minion-brown-200: #bcaaa4;
 --minion-brown-100: #d7ccc8;

 --minion-dark-900: #17202a;
 --minion-dark-800: #1c2833;
 --minion-dark-700: #212f3d;
 --minion-dark-600: #273746;
 --minion-dark-500: #2c3e50;
 --minion-dark-400: #566573;
 --minion-dark-300: #808b96;
 --minion-dark-200: #abb2b9;
 --minion-dark-100: #d5d8dc;

 --dark-divider-opacity: 0.12;
 --dark-disabled-opacity: 0.38;
 --dark-secondary-opacity: 0.54;
 --dark-primary-opacity: 0.87;

 --light-divider-opacity: 0.12;
 --light-disabled-opacity: 0.3;
 --light-secondary-opacity: 0.7;
 --light-primary-opacity: 1.0;

 --dark-theme-background-color: #212121;
 --dark-theme-base-color: #f1f1f1;
 --dark-theme-text-color: #f1f1f1;

 --light-theme-background-color: #f1f1f1;
 --light-theme-base-color: #212121;
 --light-theme-text-color: #212121;

 --default-theme-background-color: #ffffff;
 --default-theme-base-color: #000000;
 --default-theme-text-color: #000000;
 
 --default-theme-background-transparent: transparent;
 --default-theme-base-transparent: transparent;
 --default-theme-color-transparent: transparent;


 --min-width-desktop: 320px;
 --max-width-desktop: 100%;

 --floating-right: right;
 --floating-left: left;

 --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans","Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 --font-family-primary: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
