/* ___-_-_-_-_-_-__ Flexbox Grid System 2016 __-_-_-_-_-_-___ */
/* Parent is .row */
.row {
	display: flex;
	flex-direction: column;
}
/* Child is .col */
.col {
	flex: 1;
	margin: .6em; /* important */
}
@media screen and (min-width: 500px){
	.row {
		display: flex;
		flex-direction: row;
	}
}
